.carousel-img{
    max-height: 500px;
}

/* .image-container {
    position: relative;
  }
  
  .company-name {
    position: absolute;
    bottom: 10px;
    left: 1000px;
    font-size: 40px;
    color: #5e1212;
    text-shadow: 1px 1px 2px rgba(173, 57, 57, 0.5);
    background-color: rgba(243, 251, 251, 0.497);
  }
   */
  