.container-fluid.custom {
    max-width: 100%;
  }

.text-style{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    
}

.company{
  position: absolute;
  bottom: -90px;
  left: 10px;
  color: #092435;
}